<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="paintpdf.colorpicker">

    <application>
        <activity
            android:exported="false"
            android:name="org.hammel.paintpdf.colorpicker.ColorPickerPreviewActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge" />
    </application>

</manifest>
